@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root {
  --primary-color: dimgrey;
  --bg-col1: cornsilk;
  --bg-col2: snow;
  --secondary-color: Darkmagenta;
  --accent-primary: darkorange;
  --accent-secondary: darkviolet;
  --accent-light-primary: khaki;
  --accent-light-secondary: slateblue;
  --h1: clamp(30px, 3.618vw, 68px);
  --h2: clamp(26px, 2.618vw, 42px);
  --h3: clamp(16px, 1.618vw, 26px);
  --p1: clamp(14px, 1.3vw, 18px);
  --p2: clamp(10px, 1vw, 14px);
}

html {
  font-family: "Inter";
}

h3 {
  font-size: var(--h3);
}

/* body { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   height: 100vh; */
/*   margin: 0; */
/* } */
html {
  background-color: rgba(1, 1, 1, 0.05);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h3 {
  margin: 10px;
}

a {
  text-decoration: none;
}

.margin {
  margin-top: 20vh;
}

.create {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid dimgrey;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  width: 30vw;
  box-sizing: border-box;
  box-shadow: 8px 10px 10px rgba(1, 1, 1, 0.05);
  /* Ensures padding and border are included in the width */
}


.petition-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Ensures form elements take the full width of the create div */
}

.petition-form label,
.petition-form button {
  margin-top: 10px;
}

button {
  margin: 10px 10px 10px 0px;
  padding: 10px 40px;
  font-size: var(--p2);
  outline: 0;
  color: snow;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;
  border-radius: 10px;
  border: 1px transparent solid;
  background-color: var(--accent-light-secondary);
  cursor: pointer;
}

.submit-button:hover {
  background-color: indigo;
}

a button {
  background-color: crimson;
}

a button:hover {
  background-color: firebrick;
}

input[type="text"] {
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
  padding: 10px;
  border: 1px dimgrey solid;
}

textarea {
  border-radius: 10px;
  margin: 5px 5px 5px 0px;
  padding: 10px;
  border: 1px dimgrey solid
}
